In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv")

In [4]:
for col in data.columns:
    print(col)
    print(data[col].head())
    print()

lead_source
0        paid_ads
1    social_media
2          events
3        paid_ads
4        referral
Name: lead_source, dtype: object

industry
0           NaN
1        retail
2    healthcare
3        retail
4     education
Name: industry, dtype: object

number_of_courses_viewed
0    1
1    1
2    5
3    2
4    3
Name: number_of_courses_viewed, dtype: int64

annual_income
0    79450.0
1    46992.0
2    78796.0
3    83843.0
4    85012.0
Name: annual_income, dtype: float64

employment_status
0       unemployed
1         employed
2       unemployed
3              NaN
4    self_employed
Name: employment_status, dtype: object

location
0    south_america
1    south_america
2        australia
3        australia
4           europe
Name: location, dtype: object

interaction_count
0    4
1    1
2    3
3    1
4    3
Name: interaction_count, dtype: int64

lead_score
0    0.94
1    0.80
2    0.69
3    0.87
4    0.62
Name: lead_score, dtype: float64

converted
0    1
1    0
2    1
3    0
4    1
Name: converted, dtype: int64

In [6]:
data['industry'].mode()

0    retail
Name: industry, dtype: object